<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="css/bootstrap-4.3.1/dist/css/bootstrap.min.css">
	
	<script src="css/angular-1.7.8/angular.min.js"></script>
	<script src="js/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	

	<style type="text/css">

		button{
			margin-left: 25%;
			margin-top: 4%;
			width: 40%;
			

		}	
		span{
			color: green;
		}
		p{
			margin-left: 20%;
		}
		label{
			font-size: 1vw;
		}
		h1{
			text-align: center;
			margin-top: 3%;
		}
		.syarat{
			font-size: 11px;
			text-align: center;
			margin-right: 22%;
			
		}
	
	.col-sm-10{
			width: 300px;
		}

	</style>
</head>

<body>
		<nav class="navbar navbar-expand-lg navbar-dark shadow fixed-top bg-success">
   
      		<a class="navbar-brand ml-auto mr-auto " href="index.html">TaOL</a>
      
    </nav>
	<div class="bcg border-2 mr-auto ml-auto">
	<h3 style="" class="">Masuk</h3><br>
	<form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>
	  <div class="form-group row">
	    
	    <div class="col-sm-10">
		      	<input type="text" class="form-control" name="user" id="user" ng-model="user" required placeholder="username">
				   <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
				   <span ng-show="myForm.user.$error.required"style="color: red;" class="sgnfont" >username wajib di isi</span>
				   </span>
			   
	    </div>
	  </div>
	  <div class="form-group row">
	    <div class="col-sm-10">
	     <input type="text" class="form-control" name="email" id="email" ng-model="email" required placeholder="Email">
				   <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
				    <span ng-show="myForm.email.$error.required" style="color: red;" class="sgnfont">Email wajib di isi </span>
				   </span>
	    </div>
	  </div>
	  
	 <div class="form-group row">
	    
	    <div class="col-sm-10">
		      	<input type="password" class="form-control" name="pass" id="pass" ng-model="pass" required placeholder="password">
				   <span style="color:red" ng-show="myForm.pass.$dirty && myForm.pass.$invalid">
				   <span ng-show="myForm.pass.$error.required"style="color: red;"class="sgnfont" >Password wajib di isi</span>
				   </span>
			   
	    </div>
	  </div>
	  <div class="form-group row">
	    
	    <div class="col-sm-10">
		      	<input type="password" class="form-control" name="conpass" id="conpass" ng-model="conpass" required placeholder="Confirm password">
				   <span style="color:red" ng-show="myForm.conpass.$dirty && myForm.conpass.$invalid">
				   <span ng-show="myForm.conpass.$error.required"style="color: red;" class="sgnfont" >Confirm Password wajib di isi</span>
				   </span>
			   
	    </div>
	  </div>

	  <div class="form-group row">
	    <div class="col-sm-10">
	      <input type="submit" id="cek" ng-disabled="myForm.pass.$dirty && myForm.pass.$invalid ||
	                myForm.email.$dirty && myForm.email.$invalid" class="btn btn-success mt-2 ml-5" value="Masuk" style="width: 50%;">
	    </div>
	  </div>
	</form>

	<p>atau daftar dengan</p>

	<div class="syarat">dengan mendaftar saya menyetujui</div>
	<div class="syarat"><span>syarat </span>serta <span>kebijakan privasi</span></div>
		</div>
		
<script>
          
          var app = angular.module('myApp', []);
            app.controller('validateCtrl', function($scope) {
                
            $scope.user = '';
            $scope.Email = '';
            $scope.pass = '';
            $scope.conpass = '';
            });
            </script>
        
       
		<script>
		        $(document).ready(function(){
		            $("#exampleInputEmail1").focus();
		            $('#cek').click(function(){
			            var user = $('#pass').val();
			            var pass = $('#conpass').val();
			            
			            var url = "index.html";
			             if(user == "admin" && pass == "admin"){
			                alert("Hello: " + user);
			                    $(location).attr('href',url);
		                
		            }else{
		            alert('Password tidak sesuai !!');
		            }  
		            });
		  
		            //     alert("Email dan password tidak ditemukan");
		            // }
		        });
		    </script>

		  	<script src="js/popper.min.js" ></script>
	 <script src="js/bootstrap.min.js" ></script>
</head>

</body>
</html>